.italic {font-style: italic}
.message-alert {
    width: 100%;
    height: 0;
    position: fixed;
    top: 0;
    z-index: 1000000;
    padding: 0;
    font-size: 15px;
}
#alert-div { margin-bottom: 15px}
.form-group .twitter-typeahead {display: block !important}

td.details-control {
    background: url('images/details-open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('images/details-close.png') no-repeat center center;
}
.table.table-sm td {
    padding: 5px
}
.table.table-sm th {
    padding: 5px
}
.table-success {background: #fcffd4}
.table-success:hover {background: #faffba !important}

.order-btn-group .dropdown-menu { left: auto; right: 0 !important}

.confirmation h3 {text-align: center}

.control-panel > div { margin: 0; padding: 0}
.control-panel > div > div { padding: 3px}

.coach-left, .coach-right {width: 49.8%}

.coach-left .seat {float: left}
.coach-right .seat {float: right}
.seat {
    height: 160px;
    width: 33.333333333333333%;
    padding-bottom: 4px
}
.coach-left .seat {
    padding: 0 2px 4px 2px
}
.coach-right .seat {
    padding: 0 2px 4px 2px
}

#divLoadingProgress { position: relative;width: 100%;z-index: 999 }
#divLoadingProgress img { position: absolute;top: 30px;z-index: 999}

.seat > div { border: solid 2px #ccc;height: 100%;position: relative}
.seat .book-info-panel {position: relative;margin: 30px 0 0 5px;padding: 5px 38px 0 0}
.seat .book-info-panel p { padding: 0 !important; margin: 0 !important}
.seat .book-info-panel p:first-child { padding-bottom: 4px !important;padding-top: 2px !important}
.seat .book-info-panel .passenger-phone-panel { position: absolute;top: 0;right: 5px;font-size: 22px; font-weight: bold}
.seat .nb-of-seats { position: absolute;top: 55px;right: 5px;color: #a40000;font-weight: bold;font-size: 20px}
.seat .button-panel { position: absolute;bottom: 5px;left: 5px;width: 100%;padding-right: 10px}
.seat .button-panel .btn {margin-left: 5px}
.seat .button-panel .btn:first-child {margin-left: 0}
.seat .button-panel .btn-stick {float: right}
.seat .button-panel .btn-stick.is-sticked { background-color: #009c00 !important;border-color: #009200;color: #fff}
.seat .button-panel .btn-stick.is-sticked:hover { background-color: #007800 !important}
.seat .seat-label { position: absolute;top: 0;left: 0;padding: 3px 5px;font-weight: bold; font-size: 16px}
.seat .pick-up-label { position: absolute;top: 0;right: 0;padding: 3px 5px;background: green;font-size: 16px;color: #fff}

.seat.selected > div {border-color: green}
.seat.selected-for-task > div {border-color: #a40000}
.seat.booked > div {background: #fce0bd}
.seat.booked.no-bookinfo > div {background: #ffc7c1}
.seat.booked.paid-already > div {background: #ddefff}
.seat.booked.free-fee > div {background: #c1c0c0}
.seat.booked .seat-label {background: #faffba}