.italic {font-style: italic}
.message-alert {
    width: 100%;
    height: 0;
    position: fixed;
    top: 0;
    z-index: 1000000;
    padding: 0;
    font-size: 15px;
}
#alert-div { margin-bottom: 15px}
.form-group .twitter-typeahead {display: block !important}

td.details-control {
    background: url('images/details-open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('images/details-close.png') no-repeat center center;
}
.table.table-sm td {
    padding: 5px
}
.table.table-sm th {
    padding: 5px
}
.table-success {background: #fcffd4}
.table-success:hover {background: #faffba !important}

.order-btn-group .dropdown-menu { left: auto; right: 0 !important}

.confirmation h3 {text-align: center}

#order-table td[colspan] {background: #fcf8e3}
#order-table td[colspan] .table {background: none}

#btnSubmit {position: relative}
#manageLoading { position: absolute;left: 10px;top: 10px}

.coach-left { float: left; width: 50%}
.coach-right { float: right; width: 50%}
.coach-left li,.coach-right li {list-style-type: none}

.seat {
    height: 160px;
}
.coach-left .seat {
    padding: 0 4px 4px 0
}
.coach-right .seat {
    padding: 0 0 4px 4px
}
.seat > div { border: solid 2px #ccc;height: 100%;position: relative}
.seat .book-info-panel {margin: 30px 0 0 5px}
.seat .book-info-panel p {margin: 2px 0}
.seat .text-large {font-size: 20px}
.seat .button-panel { position: absolute;bottom: 5px;left: 5px}
.seat .button-panel .btn {margin-left: 5px}
.seat .button-panel .btn:first-child {margin-left: 0}
.seat .seat-label { position: absolute;top: 0;left: 0;padding: 3px 5px;font-weight: bold; font-size: 16px}
.seat .pick-up-label { position: absolute;top: 0;right: 0;padding: 3px 5px;background: green;font-size: 16px;color: #fff}

.seat.selected > div {border-color: green}
.seat.booked > div {background: #FCC3BD}
.seat.booked .seat-label {background: #faffba}